.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0 0 8px 30px;
}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow--list {
    transition: all ease 1s;
}

.movieRow--item {
    display: inline-block;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.3s;
}

.movieRow--item img:hover {
    transform: scale(1);
}

.movieRow--left,
.movieRow--right {
    position: absolute;
    width: 80px;
    height: 300px;
    padding: 10px;
    z-index: 99;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 1s;
}

.movieRow--left span {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 12px 8px 12px 15px;
}

.movieRow--right span {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 12px;
}

.movieRow--left {
    left: 0;
}

.movieRow--right {
    right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}

@media (max-width: 760px) {

    .movieRow--listarea {
        padding-left: 20px;
    }

    .movieRow--left,
    .movieRow--right {
        opacity: 1;
    }

    .movieRow--left span {
        padding: 10px 5px 10px 12px;
    }

    .movieRow--right span {
        padding: 10px;
    }
}
