.movieRow {
    margin-bottom: 30px;
}

.movie--box {
    border: 1px solid red;

}
.movie--title {
    margin: 0 0 8px 30px;

}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow--list {
    width: 99999999px;
}

.movieRow--item {
    display: inline-block;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.3s;
}

.movieRow--item img:hover {
    transform: scale(1);
}

.movieRow--left,
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 1s;
}


.movieRow--left {
    left: 0;
}

.movieRow--right {
    right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}


