@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.lists {
    margin-top: -150px;
}

footer {
    margin: 80px 0px;
    text-align: center;
    color: #999;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social--media {
    margin: 15px;
}

.social--media span {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}
.social--media a {
    font-size: 28px;
    color: #999;
    margin: 10px;
    transition: all ease 0.5s;
}

.social--media a:hover {
    color: #d91921;
}

@media (max-width: 760px) {
    footer {
        font-size: 14px;
    }

    .loading {
        left: -80px;
    }
}
